
<div class="card d-flex justify-content-center col-6 ">
    <h4>Şifrelenmiş Resim</h4>
    <br />
    <a href="@Url.Action("Index","Images")">
        <h3>Çözümle</h3>    
    </a>
    <br />

    @ViewBag.image
</div>
